$primary-color: #808080;
$secondary-color: #818589;
$background-color: #f5f5f5;
$sec-color: #818589;
$text-color: #333333;
$link-color: #1e90ff;
$link-color-gold: #D5C069;


$font-family-base: 'Arial, sans-serif';
$font-family-heading: 'Georgia, serif';
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$line-height-base: 1.5;
$line-height-heading: 1.2;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
